
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Clean &mdash; A free HTML5 Template by FREEHTML5.CO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
<meta name="author" content="FREEHTML5.CO" />

<!--
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE
DESIGNED & DEVELOPED by FREEHTML5.CO

Website: 		http://freehtml5.co/
Email: 			info@freehtml5.co
Twitter: 		http://twitter.com/fh5co
Facebook: 		https://www.facebook.com/fh5co

//////////////////////////////////////////////////////
-->

<!-- Facebook and Twitter integration -->
<meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

<!-- Google Webfonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>

<!-- Animate.css -->
<link rel="stylesheet" href="css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="css/icomoon.css">
<!-- Simple Line Icons -->
<link rel="stylesheet" href="css/simple-line-icons.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="css/magnific-popup.css">
<!-- Theme Style -->
<link rel="stylesheet" href="css/style.css">
<!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>
<body>


<header id="fh5co-header" role="banner">
<nav class="navbar navbar-default" role="navigation">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="navbar-header">
<!-- Mobile Toggle Menu Button -->
<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
<a class="navbar-brand" href="index.html">Renuka Sane</a>
</div>
<div id="fh5co-navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">
<li><a href="index.html"><span>Home <span class="border"></span></span></a></li>
<!-- Make a generator for above list -->
<li class="active"><a href="Home.html"><span>Home<span class="border"></span></span></a></li>
<li><a href="Research.html"><span>Research<span class="border"></span></span></a></li>
<li><a href="Pensions.html"><span>Pensions<span class="border"></span></span></a></li>
<li><a href="Media.html"><span>Media<span class="border"></span></span></a></li>
<li><a href="CrimJust.html"><span>Criminal Justice<span class="border"></span></span></a></li>

</ul>
</div>
</div>
</div>
</div>
</nav>
</header>
<!-- END .header -->


<div id="fh5co-main">
<div class="fh5co-intro text-center">
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<!-- Make Title Generator -->
<h1 class="intro-lead">Home</h1>
<!-- <h1 class="intro-lead">Research</h1> -->
</div>
</div>
</div>
</div>

<div id="fh5co-content">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<!-- Content Generator -->
<h2> Financial Regulation, Consumer protection</h2>



<div style="text-align: justify;">

<p> Regulating consumer finance: Do disclosures matter? The case of

life insurance (with Monika Halan), NIPFP Working paper 212, November

2017. <a href="http://macrofinance.nipfp.org.in/releases/HalanSane2017_RCF.html">[link]</a> </p>



<div style="text-align: justify;">

<p> Misled and Mis-sold: Financial Misbehaviour in Retail Banks?

(with Monika Halan), <i>Journal of Comparative Economics</i>,

45(3), August

2017 <a href="https://doi.org/10.1016/j.jce.2017.06.001">[link]</a></p>



<p> On the Impact of Regulating Commissions: Evidence from the Indian

Mutual Funds Market (with Santosh Anagol, Vijay Marrisetty and

Buvaneshwaran G. Venugopal), <i> World Bank Economic Review </i>

February, 2016 <a href="http://wber.oxfordjournals.org/content/early/2016/02/08/wber.lhv065.abstract">[link] </a> </p>

</div>



<div style="text-align: justify;">

<p> International Regulatory Cooperation on the Resolution of

Financial Institutions: Where Does India Stand?, New Thinking and

the New G20 Paper No. 10, CIGI,

2015. <a href="https://www.cigionline.org/publications/international-regulatory-cooperation-resolution-of-financial-institutions-where-does-in">[link]</a> </p>

</div>



<div style="text-align: justify;">

<p>The case of the missing billions: Estimating losses to customers due to

mis-sold life insurance policies (with Monika Halan and Susan

Thomas) <i>Journal of Economic Policy Reform</i>,

2014 <a href="http://ifrogs.org/releases/HalanSaneThomas2013_missellingLifeInsurance.html">[link]</a> </p>

</div>



<div style="text-align: justify;">

<p> What should regulation do in the field of micro-finance (with

Susan Thomas), <i> Economic and Political Weekly</i>,

2012 <a href="http://www.igidr.ac.in/pdf/publication/WP-2012-012.pdf">[pdf]</a></p>

</div>



<div style="text-align: justify;">

<p> A regulatory approach to financial product advice and distribution

(with M. Sahoo), IGIDR Working Paper WP-2011-029,

2011. <a href="http://ideas.repec.org/p/ind/igiwpp/2011-029.html">

[link] </a></p></div>



<div style="text-align: justify;">

<p> An economic policy and legal analysis of The Micro Finance

Institutions (Development &amp; Regulation) Bill, 2011 (with

Shubho Roy and Susan Thomas),  IGIDR Working Paper WP-2011-025, 2011.

<a href="http://ideas.repec.org/p/ind/igiwpp/2011-025.html">[link]</a></p>

</div>



<div style="text-align: justify;">

<p> A policy response to the Indian micro-finance crisis (with Susan

Thomas), IGIDR Working Paper WP-2011-007,

2011. <a href="http://econpapers.repec.org/RePEc:ind:igiwpp:2011-007">[Link]</a> </p> </div>



<h2> Pensions </h2>



<div style="text-align: justify;">

<p> Simulating Pension Income Scenarios with penCalc (with William

Price), World Bank Policy Research Working Paper, January

2018. <a href="http://macrofinance.nipfp.org.in/releases/SanePrice_SPIS.html">[link]</a></p>



<div style="text-align: justify;">

<p> In search of inclusion: Informal sector participation in a

voluntary, defined contribution pension system (with Susan

Thomas), <i>Journal of

Development Studies</i>, 2015 <a href="http://ifrogs.org/releases/SaneThomas2013_pensionsSystems.html">[link]</a></p>

</div>



<div style="text-align: justify;">

<p >Learning from the early experience of India's matching

defined contribution scheme (with Robert Palacios), <i>In

Hinz et. al.(editors), Matching Contributions for Pensions: A

Review of International Experience</i>, Chapter 12, The World

Bank.</p>

</div>





<div style="text-align: justify;"> <p>Demographic shift and financial

markets in APEC-Asia: New age solutions to age old challenges (with

John Piggott), <i> Asia-Pacific Journal of Risk and Insurance</i>,

6(1), 2012. <p></div>



<div style="text-align: justify;">

<p> Civil services and military pensions in India (with Ajay Shah),

in <i> Noriyuki Takayama (ed), Reforming Pensions for Civil and

Military Servants</i>, Chapter 4,

2011. <a href="http://ideas.repec.org/p/hit/cisdps/518.html">

[Link]</a> </p> </div>





<div style="text-align: justify;">

<p> Annuity markets in India: Do consumers get their money's worth?

(with

Estelle James), <i>Economic and

Political Weekly</i>, XXXVIII(8), February 2003. </a> </p>

</div>



<div style="text-align: justify;">

<p> The way forward for India's National Pension System (with Susan

Thomas), IGIDR Working Paper WP-2014-22,

2014. <a href="http://ifrogs.org/releases/SaneThomas2014_nps.html">[link]</a></p>

</div>



<div style="text-aligh: justify;">

<p>Indexing Pensions (with John Piggott), Working Paper, The

World Bank, 2009. <a href="PDFDOCS/PiggottSane2009_indexingpensions.pdf ">[pdf]</a>

</p> </div>



<div style="text-align: justify;">

<p>Superannuation fund governance: trustee policies and practices

(with Wilson Sy, Chirs Inman and Neil Esho),

Working paper, Australian Prudential Regulation Authority, 2008. <a

href="PDFDOCS/APRA_superfundgovernance.pdf">[pdf]  </a> </p> </div>



<h2>Savings, Insurance, Credit </h2>



<div style="text-align: justify;">

<p> Stock Market Participation in the Aftermath of an Accounting

Scandal, NIPFP Working Paper, 198. June

2017. <a href="http://macrofinance.nipfp.org.in/releases/Sane2017_SMP.html">[link]</a></p>



<div style="text-align: justify;">

<p> From participation to repurchase: Low income households and

micro-insurance (with Susan Thomas),  IGIDR Working paper, June

2016. <a href="http://ifrogs.org/releases/SaneThomas2016_microInsurance.html">[link]</a></p>



<div style="text-align: justify;">

<p> The real costs of credit constraints: Evidence from the

micro-credit market (with Susan Thomas), <i>BE Journal of Applied

Economics and Policy</i> 16(1), January 2016

<a href="http://ifrogs.org/releases/SaneThomas2013_creditConstraints.html">

[link] </a>  </p>

<div>





<h2> Data protection, privacy </h2>



<div style="text-aligh: justify;">

<p> Protecting Citizens from the State post Puttaswamy: Analysing the

Privacy Implications of the Justice Srikrishna Committee Report and

the Data Protection Bill, 2018 (with Vrinda Bhandari), <i>Socio Legal

Review</i> 14(2),

(forthcoming). <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3251982">[link]</a> </p> </div>



<div style="text-aligh: justify;">

<p> Towards a privacy framework for India in the age of the internet (with Vrinda Bhandari), NIPFP Working Paper, 179, October 2016. <a href="https://macrofinance.nipfp.org.in/releases/BhandariSane2016_privacy.html">[link]</a> </p></div>





<h2> Others </h2>



<div style="text-align: justify;">

<p> Estimates of air pollution in Delhi from the burning of

firecrackers during the festival of Diwali (with Dhananjay

Ghei), <i>PLOS One</i>, August,

2018 <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0200371">[link]</a></p>



<div style="text-align: justify;">

<p> Understanding Judicial Delay at the Income Tax Appellate Tribunal

in India (with Pratik Datta and Surya Prakash B. S.), NIPFP Working

paper 208, October 2017. <a href="http://macrofinance.nipfp.org.in/releases/DattaPrakashSane2017_UJDIT.html">[link]</a></p>



<div style="text-align: justify;">

<p> Borrowing by Indian firms (with Susan Thomas), <i>India

Development Report</i>, 2012. </p></div>



<div style="text-align: justify;">

<p>The elephant in the age of liberation (with Parth Shah), in

<i>Benjamin Powell (ed), Making Poor Nations Rich: Entrepreneurship

and the Process of Economic Development</i>, Chapter 11, The

Independent Institute, 2007. </p>

</div>





</div>
</div>
</div>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>


</body>
</html>
